.text-above{
    position: absolute;
    top: 5px;
    left: 20px;
}
#image {
    width:88%;
    height:53px;
    opacity: 0;
    overflow:hidden;
    display: -webkit-box;
    line-height: 1;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    color:azure;
    background-color:black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #image:hover {
    opacity: 0.7;
  }
.opacity-mode {
    opacity: 0.5;
  }
#back-button {
    border-color: rgb(52, 53, 53);
    background-color: rgb(52, 53, 53);
    width:15%;
    height: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#back-button:hover {
    background-color: rgb(143, 151, 151);
    color:black;
}